@import "_variables";
@import "_header";
@import "_footer";
@import "_hover";





.menu-mobile{
    .mobile-down-menu{
        .set{
            .content{
                display: none;
            }
            a{
                padding: 10px;
                color: #000;
                display: block;
            }
            ul{
                list-style: none;
                padding: 0;
            }
        }
    }
}


.liner{
    height: 2px;
    width: 20px;
    background:#DB2D2E ;
}